---
import Menu from '../components/menu.astro';

import { Image } from 'astro:assets'

import avatarImage from '../images/avatar_vue.png'
---

<!----
openmoji.org
------>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="src/images/favicon.png"/>

    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            background: linear-gradient(217deg, #EEF5FF, #B4D4FF, #86B6F6, #23A2CD);
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 25px;
        }

        @font-face {
            font-family: 'JetBrainsMono';
            src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        .mainPage {
            margin-right: 6.25rem;
        }

        #hi {
            font-size: 72px;
            text-decoration: underline  orange;
        }

        #tizz1 {
            text-decoration: underline wavy orange;
            font-size: 72px;
        }

        #avatar {
            box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.17);
            transition: linear 0.05s;
            width: 200px;
            height: 200px;
            border-radius: 10%;
            margin-top: 15px;
            float: left;
            border: 1px solid white;
            margin-right: 30px;
        }

        #avatar:hover {
            box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.17);
            transition: linear 0.05s;
        }



        @media (max-width: 600px) {
            .mainPage {
                margin-right: 3rem;
            }

            #tizz1 {
                font-size: 48px;
            }

            body {
                margin-left: 25px;
                margin-right: 25px;
                margin-top: 13px;
            }

            #avatar {
                float: unset;
            }
        }

    </style>
    <title>Zhang Zhe's Site</title>
</head>


<body style="font-family: 'JetBrainsMono','serif';">
<Menu></Menu>

<div class="mainPage">
    <section id="Home">
        <div id="avatarImg">
            <Image src={avatarImage} alt="Avatar image of me." id="avatar" />
        </div>
        <div id="hi">Hi! I'm</div>
        <div id="tizz1">Zhang Zhe!</div>

    </section>
    <section id="About">

    </section>
    <section id="Project"></section>
    <section id="Blogs">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis vestibulum magna, nec maximus ex luctus a. Proin molestie enim id volutpat hendrerit. Suspendisse condimentum convallis ligula, sed efficitur est lobortis a. Nunc pellentesque nunc enim, ut ornare sapien elementum at. Nulla ac luctus ante. Fusce condimentum quam odio. Nulla id lectus nisl. Maecenas cursus leo quis magna scelerisque tristique et sit amet mi.

        Duis ac justo libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris a vulputate velit. Morbi nec est id ante pharetra sollicitudin vitae et augue. Curabitur purus velit, sollicitudin finibus ex quis, sagittis facilisis odio. Mauris laoreet nunc volutpat turpis euismod laoreet. Aenean aliquam tristique nisi, id tempor eros tempus eu.

        Aenean porttitor tortor neque, vitae mollis magna hendrerit a. Suspendisse vel metus eu nunc commodo maximus. Sed euismod dolor purus, commodo ultrices risus malesuada sit amet. Donec nisl ipsum, pulvinar non varius non, porta at arcu. Suspendisse molestie purus a erat lacinia, eget sagittis lectus commodo. Praesent tincidunt ante dapibus erat viverra, eu luctus tortor mattis. Donec nec pulvinar purus, id consequat magna. Proin pellentesque purus id dui rhoncus pretium. Integer maximus pretium ipsum sit amet pellentesque. Etiam tristique pharetra odio.

        Donec ex magna, tempor sit amet turpis sed, eleifend tincidunt risus. Cras ligula libero, dictum a lobortis et, suscipit eu tortor. Donec finibus, odio in accumsan ultrices, neque elit tempor nunc, eget facilisis velit enim in ex. Ut tempor dignissim dolor, sed consequat dui dapibus id. Sed vel pharetra sapien. Nulla in quam at orci sodales bibendum vestibulum eu sem. Nunc pulvinar nibh porta, maximus sapien sit amet, tempor dolor. Pellentesque ullamcorper tortor quis ultrices dapibus. Aliquam vehicula ut mauris eu laoreet. Mauris pharetra non justo vitae bibendum. Integer dolor ex, pulvinar vel consectetur id, tincidunt vel dui. Suspendisse aliquam tincidunt luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer id nisl eget nibh eleifend tempor at a mauris. Praesent vitae purus risus. Morbi nec imperdiet arcu.

        Duis convallis justo risus, non rhoncus arcu tempus at. Quisque vel gravida turpis, nec luctus tortor. Praesent sed efficitur nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla porttitor risus quis tristique lacinia. Integer rhoncus erat justo, vel vulputate sem varius vel. Sed sit amet nisi est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ultrices dolor massa, ut luctus massa iaculis id. Donec non velit pellentesque nibh rhoncus tincidunt. Sed mollis mi sit amet vulputate tincidunt. Quisque in massa dapibus, lobortis ante at, aliquet orci. Integer fringilla, risus in aliquam laoreet, odio leo semper leo, varius vestibulum diam elit quis arcu. Aliquam nisi diam, feugiat id eleifend vel, commodo at velit.



    </section>
    <section id="Contact">
    </section>

</div>
</body>
<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>

</html>