---
// 5 Colors for the background, from lightest to darkest.
const bgSelection = ['#e0e1dd', '#778da9', '#415a77', '#1b263b', '#0d1b2a'];
let selectedIndex = bgSelection[0];


import Menu from '../components/menu.astro';
---

<!----
openmoji.org
------>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style define:vars={{selectedIndex}}>
        html {
            scroll-behavior: smooth;
        }

        body {
            background-color: var(--selectedIndex);
        }

        @font-face {
            font-family: 'JetBrainsMono';
            src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        .mainPage {
            margin-right: 6.25rem;
        }

        @media (max-width: 600px) {
            .mainPage {
                margin-right: 3rem;
            }
        }
    </style>
    <title>SmokingPuddle58's Site</title>
</head>


<body style="font-family: 'JetBrainsMono','serif';">
<Menu></Menu>

<div class="mainPage">

    <a href="#Hello">a</a>


    <div id="Hello">
        End
    </div>

</div>
</body>
</html>