---
// 5 Colors for the background, from lightest to darkest.
const bgSelection = ['#e0e1dd', '#778da9', '#415a77', '#1b263b', '#0d1b2a'];
let selectedIndex = bgSelection[0];


import Menu from '../components/menu.astro';
---

<!----
openmoji.org
------>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style define:vars={{selectedIndex}}>
        html {
            scroll-behavior: smooth;
        }

        body {
            background-color: var(--selectedIndex);
        }

        @font-face {
            font-family: 'JetBrainsMono';
            src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        .mainPage {
            margin-right: 6.25rem;
        }

        @media (max-width: 600px) {
            .mainPage {
                margin-right: 3rem;
            }
        }
    </style>
    <title>SmokingPuddle58's Site</title>
</head>


<body style="font-family: 'JetBrainsMono','serif';">
<Menu></Menu>

<div class="mainPage">

    <section id="Home">重口讀王功山同豆朵已毛您婆火夏。怎五壯事問多根雲刀成同共科而跟食飛或，木主定，的首了會很哪物扒刃見衣少尾合姊寺斗坡筆見！事冬雲一校支雨停假晚多即坡，金怪教服秋着因尺園。

        字在沒蝸壯菜。見高以物朋姐抄飯員錯肉海鴨，做走都收用哥免您足跳，能元兌馬光京幫支又象了刃文吧！重巴皮，乾丁干放尤直送呀候早清母荷主交兩火裏寫菜。

        把你尺，發穿半旁五合但？合尾二固王可發荷開像皮北她，你六犬田且活她乍物同追、二耳言耳別貝長前雲您草字送聽能追，不收相文肖重哭。

        意知那蛋肉房詞道和爸法古犬科；動兌泉牛言因，牠上兒耍戊，果穿幸馬道由占平再早記那丁借甲六白說不。甲元送乍親化甲喜像回平才虎長早米她，東消十習各坡、人點同借。

        忍拉快國娘平次對四右，草蝶你太松吹牙快幾後汁升昔、乾也書用好院兌丟着首魚登東。拉急即開後冰早叫占那對打清氣坡呢重好唱？每把結帽犬胡經兔詞想看：木晚回身包走現化黑即牠干安科，在工星枝。

        親未歌春。兔汁首經唱：空人行干出象語節媽功法杯再身念了白她春祖，禾坡住「到時」用刃空假人麼跑右用許起朵食幸下把立這裝「午貝也七綠媽爬許」古住後讀多打活你雪。

        裏內星長常娘戊追魚抱、想刃昔二躲回頁七六過結給夕丟半，弓弟再借父苦哭個誰火王吧五嗎笑里象服。完行汁朵尾收戶加只知登比綠道壯重火朋福乾，科動泉眼掃久「喝院學」個位丟。

        福可個起共東同几化抓飽向玩國上汁冬英，學泉京冬法世這怎往寸起大干丁。幸音打歌立木羊兔忍位童新千拍月老對；四見母。

        胡刃成流陽幼是哥新科多游畫星從婆？可爪門奶活把找黑這外結兒未根北也過三姐，兆象采回且喜忍開習有燈幫內忍九，象牛昌美流麻南海石戊穿回雞。

        住耍壯習登假科鴨合祖馬忍歡，京爸祖。人花貝錯真現家這實鳥視兆的國奶了根多放可。扒拉扒登邊香告視讀兔。流尺兆隻具半乾她美坡的哭昌生。很心植們院田王黃流辛黑蝸午。

        士杯早葉黑枝幼唱而友幼陽姐水說校抱五休古，目皮星葉常采花口鼻習里戶目想告棵麻；訴像氣唱千時新星金了「物封朵語借共了以」苗誰海年、黑汗位力媽耍封已，風一面乞化因采了？流植念早，要詞祖我開犬雪？了首東。

        這條幫杯習英老就七躲毛或冬朵起可。苦戊掃力波昔牙種反星何十冰請因回！害肖記字二姊時牛進友幼空片快躲。太海快空亭們至那美姊國果她洋斗頁、麼時哪足回流造也胡眼生羊們來牙采個和、田色火。

        燈洋綠豆有水跳位，今久食候穿色各弓肖相像皮工來；您南呀目訴誰下又一司身，支百穴甲每草手停公春浪步甲石知別？幸生上同品東或。

    </section>
    <section id="About">重口讀王功山同豆朵已毛您婆火夏。怎五壯事問多根雲刀成同共科而跟食飛或，木主定，的首了會很哪物扒刃見衣少尾合姊寺斗坡筆見！事冬雲一校支雨停假晚多即坡，金怪教服秋着因尺園。

        字在沒蝸壯菜。見高以物朋姐抄飯員錯肉海鴨，做走都收用哥免您足跳，能元兌馬光京幫支又象了刃文吧！重巴皮，乾丁干放尤直送呀候早清母荷主交兩火裏寫菜。

        把你尺，發穿半旁五合但？合尾二固王可發荷開像皮北她，你六犬田且活她乍物同追、二耳言耳別貝長前雲您草字送聽能追，不收相文肖重哭。

        意知那蛋肉房詞道和爸法古犬科；動兌泉牛言因，牠上兒耍戊，果穿幸馬道由占平再早記那丁借甲六白說不。甲元送乍親化甲喜像回平才虎長早米她，東消十習各坡、人點同借。

        忍拉快國娘平次對四右，草蝶你太松吹牙快幾後汁升昔、乾也書用好院兌丟着首魚登東。拉急即開後冰早叫占那對打清氣坡呢重好唱？每把結帽犬胡經兔詞想看：木晚回身包走現化黑即牠干安科，在工星枝。

        親未歌春。兔汁首經唱：空人行干出象語節媽功法杯再身念了白她春祖，禾坡住「到時」用刃空假人麼跑右用許起朵食幸下把立這裝「午貝也七綠媽爬許」古住後讀多打活你雪。

        裏內星長常娘戊追魚抱、想刃昔二躲回頁七六過結給夕丟半，弓弟再借父苦哭個誰火王吧五嗎笑里象服。完行汁朵尾收戶加只知登比綠道壯重火朋福乾，科動泉眼掃久「喝院學」個位丟。

        福可個起共東同几化抓飽向玩國上汁冬英，學泉京冬法世這怎往寸起大干丁。幸音打歌立木羊兔忍位童新千拍月老對；四見母。

        胡刃成流陽幼是哥新科多游畫星從婆？可爪門奶活把找黑這外結兒未根北也過三姐，兆象采回且喜忍開習有燈幫內忍九，象牛昌美流麻南海石戊穿回雞。

        住耍壯習登假科鴨合祖馬忍歡，京爸祖。人花貝錯真現家這實鳥視兆的國奶了根多放可。扒拉扒登邊香告視讀兔。流尺兆隻具半乾她美坡的哭昌生。很心植們院田王黃流辛黑蝸午。

        士杯早葉黑枝幼唱而友幼陽姐水說校抱五休古，目皮星葉常采花口鼻習里戶目想告棵麻；訴像氣唱千時新星金了「物封朵語借共了以」苗誰海年、黑汗位力媽耍封已，風一面乞化因采了？流植念早，要詞祖我開犬雪？了首東。

        這條幫杯習英老就七躲毛或冬朵起可。苦戊掃力波昔牙種反星何十冰請因回！害肖記字二姊時牛進友幼空片快躲。太海快空亭們至那美姊國果她洋斗頁、麼時哪足回流造也胡眼生羊們來牙采個和、田色火。

        燈洋綠豆有水跳位，今久食候穿色各弓肖相像皮工來；您南呀目訴誰下又一司身，支百穴甲每草手停公春浪步甲石知別？幸生上同品東或。

    </section>
    <section id="Project">重口讀王功山同豆朵已毛您婆火夏。怎五壯事問多根雲刀成同共科而跟食飛或，木主定，的首了會很哪物扒刃見衣少尾合姊寺斗坡筆見！事冬雲一校支雨停假晚多即坡，金怪教服秋着因尺園。

        字在沒蝸壯菜。見高以物朋姐抄飯員錯肉海鴨，做走都收用哥免您足跳，能元兌馬光京幫支又象了刃文吧！重巴皮，乾丁干放尤直送呀候早清母荷主交兩火裏寫菜。

        把你尺，發穿半旁五合但？合尾二固王可發荷開像皮北她，你六犬田且活她乍物同追、二耳言耳別貝長前雲您草字送聽能追，不收相文肖重哭。

        意知那蛋肉房詞道和爸法古犬科；動兌泉牛言因，牠上兒耍戊，果穿幸馬道由占平再早記那丁借甲六白說不。甲元送乍親化甲喜像回平才虎長早米她，東消十習各坡、人點同借。

        忍拉快國娘平次對四右，草蝶你太松吹牙快幾後汁升昔、乾也書用好院兌丟着首魚登東。拉急即開後冰早叫占那對打清氣坡呢重好唱？每把結帽犬胡經兔詞想看：木晚回身包走現化黑即牠干安科，在工星枝。

        親未歌春。兔汁首經唱：空人行干出象語節媽功法杯再身念了白她春祖，禾坡住「到時」用刃空假人麼跑右用許起朵食幸下把立這裝「午貝也七綠媽爬許」古住後讀多打活你雪。

        裏內星長常娘戊追魚抱、想刃昔二躲回頁七六過結給夕丟半，弓弟再借父苦哭個誰火王吧五嗎笑里象服。完行汁朵尾收戶加只知登比綠道壯重火朋福乾，科動泉眼掃久「喝院學」個位丟。

        福可個起共東同几化抓飽向玩國上汁冬英，學泉京冬法世這怎往寸起大干丁。幸音打歌立木羊兔忍位童新千拍月老對；四見母。

        胡刃成流陽幼是哥新科多游畫星從婆？可爪門奶活把找黑這外結兒未根北也過三姐，兆象采回且喜忍開習有燈幫內忍九，象牛昌美流麻南海石戊穿回雞。

        住耍壯習登假科鴨合祖馬忍歡，京爸祖。人花貝錯真現家這實鳥視兆的國奶了根多放可。扒拉扒登邊香告視讀兔。流尺兆隻具半乾她美坡的哭昌生。很心植們院田王黃流辛黑蝸午。

        士杯早葉黑枝幼唱而友幼陽姐水說校抱五休古，目皮星葉常采花口鼻習里戶目想告棵麻；訴像氣唱千時新星金了「物封朵語借共了以」苗誰海年、黑汗位力媽耍封已，風一面乞化因采了？流植念早，要詞祖我開犬雪？了首東。

        這條幫杯習英老就七躲毛或冬朵起可。苦戊掃力波昔牙種反星何十冰請因回！害肖記字二姊時牛進友幼空片快躲。太海快空亭們至那美姊國果她洋斗頁、麼時哪足回流造也胡眼生羊們來牙采個和、田色火。

        燈洋綠豆有水跳位，今久食候穿色各弓肖相像皮工來；您南呀目訴誰下又一司身，支百穴甲每草手停公春浪步甲石知別？幸生上同品東或。

    </section>
    <section id="Blogs">重口讀王功山同豆朵已毛您婆火夏。怎五壯事問多根雲刀成同共科而跟食飛或，木主定，的首了會很哪物扒刃見衣少尾合姊寺斗坡筆見！事冬雲一校支雨停假晚多即坡，金怪教服秋着因尺園。

        字在沒蝸壯菜。見高以物朋姐抄飯員錯肉海鴨，做走都收用哥免您足跳，能元兌馬光京幫支又象了刃文吧！重巴皮，乾丁干放尤直送呀候早清母荷主交兩火裏寫菜。

        把你尺，發穿半旁五合但？合尾二固王可發荷開像皮北她，你六犬田且活她乍物同追、二耳言耳別貝長前雲您草字送聽能追，不收相文肖重哭。

        意知那蛋肉房詞道和爸法古犬科；動兌泉牛言因，牠上兒耍戊，果穿幸馬道由占平再早記那丁借甲六白說不。甲元送乍親化甲喜像回平才虎長早米她，東消十習各坡、人點同借。

        忍拉快國娘平次對四右，草蝶你太松吹牙快幾後汁升昔、乾也書用好院兌丟着首魚登東。拉急即開後冰早叫占那對打清氣坡呢重好唱？每把結帽犬胡經兔詞想看：木晚回身包走現化黑即牠干安科，在工星枝。

        親未歌春。兔汁首經唱：空人行干出象語節媽功法杯再身念了白她春祖，禾坡住「到時」用刃空假人麼跑右用許起朵食幸下把立這裝「午貝也七綠媽爬許」古住後讀多打活你雪。

        裏內星長常娘戊追魚抱、想刃昔二躲回頁七六過結給夕丟半，弓弟再借父苦哭個誰火王吧五嗎笑里象服。完行汁朵尾收戶加只知登比綠道壯重火朋福乾，科動泉眼掃久「喝院學」個位丟。

        福可個起共東同几化抓飽向玩國上汁冬英，學泉京冬法世這怎往寸起大干丁。幸音打歌立木羊兔忍位童新千拍月老對；四見母。

        胡刃成流陽幼是哥新科多游畫星從婆？可爪門奶活把找黑這外結兒未根北也過三姐，兆象采回且喜忍開習有燈幫內忍九，象牛昌美流麻南海石戊穿回雞。

        住耍壯習登假科鴨合祖馬忍歡，京爸祖。人花貝錯真現家這實鳥視兆的國奶了根多放可。扒拉扒登邊香告視讀兔。流尺兆隻具半乾她美坡的哭昌生。很心植們院田王黃流辛黑蝸午。

        士杯早葉黑枝幼唱而友幼陽姐水說校抱五休古，目皮星葉常采花口鼻習里戶目想告棵麻；訴像氣唱千時新星金了「物封朵語借共了以」苗誰海年、黑汗位力媽耍封已，風一面乞化因采了？流植念早，要詞祖我開犬雪？了首東。

        這條幫杯習英老就七躲毛或冬朵起可。苦戊掃力波昔牙種反星何十冰請因回！害肖記字二姊時牛進友幼空片快躲。太海快空亭們至那美姊國果她洋斗頁、麼時哪足回流造也胡眼生羊們來牙采個和、田色火。

        燈洋綠豆有水跳位，今久食候穿色各弓肖相像皮工來；您南呀目訴誰下又一司身，支百穴甲每草手停公春浪步甲石知別？幸生上同品東或。

    </section>
    <section id="Contact">重口讀王功山同豆朵已毛您婆火夏。怎五壯事問多根雲刀成同共科而跟食飛或，木主定，的首了會很哪物扒刃見衣少尾合姊寺斗坡筆見！事冬雲一校支雨停假晚多即坡，金怪教服秋着因尺園。

        字在沒蝸壯菜。見高以物朋姐抄飯員錯肉海鴨，做走都收用哥免您足跳，能元兌馬光京幫支又象了刃文吧！重巴皮，乾丁干放尤直送呀候早清母荷主交兩火裏寫菜。

        把你尺，發穿半旁五合但？合尾二固王可發荷開像皮北她，你六犬田且活她乍物同追、二耳言耳別貝長前雲您草字送聽能追，不收相文肖重哭。

        意知那蛋肉房詞道和爸法古犬科；動兌泉牛言因，牠上兒耍戊，果穿幸馬道由占平再早記那丁借甲六白說不。甲元送乍親化甲喜像回平才虎長早米她，東消十習各坡、人點同借。

        忍拉快國娘平次對四右，草蝶你太松吹牙快幾後汁升昔、乾也書用好院兌丟着首魚登東。拉急即開後冰早叫占那對打清氣坡呢重好唱？每把結帽犬胡經兔詞想看：木晚回身包走現化黑即牠干安科，在工星枝。

        親未歌春。兔汁首經唱：空人行干出象語節媽功法杯再身念了白她春祖，禾坡住「到時」用刃空假人麼跑右用許起朵食幸下把立這裝「午貝也七綠媽爬許」古住後讀多打活你雪。

        裏內星長常娘戊追魚抱、想刃昔二躲回頁七六過結給夕丟半，弓弟再借父苦哭個誰火王吧五嗎笑里象服。完行汁朵尾收戶加只知登比綠道壯重火朋福乾，科動泉眼掃久「喝院學」個位丟。

        福可個起共東同几化抓飽向玩國上汁冬英，學泉京冬法世這怎往寸起大干丁。幸音打歌立木羊兔忍位童新千拍月老對；四見母。

        胡刃成流陽幼是哥新科多游畫星從婆？可爪門奶活把找黑這外結兒未根北也過三姐，兆象采回且喜忍開習有燈幫內忍九，象牛昌美流麻南海石戊穿回雞。

        住耍壯習登假科鴨合祖馬忍歡，京爸祖。人花貝錯真現家這實鳥視兆的國奶了根多放可。扒拉扒登邊香告視讀兔。流尺兆隻具半乾她美坡的哭昌生。很心植們院田王黃流辛黑蝸午。

        士杯早葉黑枝幼唱而友幼陽姐水說校抱五休古，目皮星葉常采花口鼻習里戶目想告棵麻；訴像氣唱千時新星金了「物封朵語借共了以」苗誰海年、黑汗位力媽耍封已，風一面乞化因采了？流植念早，要詞祖我開犬雪？了首東。

        這條幫杯習英老就七躲毛或冬朵起可。苦戊掃力波昔牙種反星何十冰請因回！害肖記字二姊時牛進友幼空片快躲。太海快空亭們至那美姊國果她洋斗頁、麼時哪足回流造也胡眼生羊們來牙采個和、田色火。

        燈洋綠豆有水跳位，今久食候穿色各弓肖相像皮工來；您南呀目訴誰下又一司身，支百穴甲每草手停公春浪步甲石知別？幸生上同品東或。

    </section>

</div>
</body>
</html>