---
import { Image } from 'astro:assets'

import localAvatar from '../images/avatar.png'
---
<style>
    .container {
    }
    .image {
        width: 100px;
        height: 100px;
        display: grid;
        place-items: center;
    }

</style>

<div class="container">
    <Image src={localAvatar} alt="SmokingPuddle58's Avatar." class="image"/>
    <div style="">
        SmokingPuddle58
    </div>
    <div style="">
        a.k.a. Zhang Zhe (張哲)
    </div>
</div>



