---
import { Image } from 'astro:assets'

import localAvatar from '../images/avatar.png'
---
<style>
    .container {
        position: relative;
    }
    .image {
        width: 100px;
        height: 100px;
    }
</style>

<div class="container">
    <Image src={localAvatar} alt="SmokingPuddle58's Avatar." class="image"/>
</div>


