---
import { Image } from 'astro:assets'

import localAvatar from '../images/avatar.png'
---
<style>
    .container {
        position: relative;
    }
    .image {
        width: 100px;
        height: 100px;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

</style>

<div class="container">
    <Image src={localAvatar} alt="SmokingPuddle58's Avatar." class="image"/>
    <div style="">
        <hr />
    </div>
</div>



