---

---
<style>
    .fixed-div {
        position: fixed; /* Fixes the div in place */
        top: 0; /* Aligns it to the top */
        right: 0; /* Aligns it to the right */
        padding: 10px; /* Optional padding */
        display: flex;
        flex-direction: column; /* Stacks items vertically */
        gap: 10px; /* Adds space between items */
        z-index: 100;

    }

    .menu-item {
        text-decoration: none; /* Removes underline from links */
        color: black; /* Text color */
        padding: 5px; /* Padding for each item */
        transition: background-color 0.3s; /* Smooth background change */
        background-color: rgba(0, 0, 0, 0);
        font-size: large;
        text-align: right;
        z-index: 100;
    }

    .menu-item:hover {

    }

    .selected {
        font-size: xx-large;
        background-color: lightgray; /* Change background on hover */
        transition: background-color 0.3s;Food
    }

    @media (max-width: 800px) {
        .menu-item:not(.selected) {
            display: none;
        }
    }
</style>

<div class="fixed-div">
    <a href="#" class="menu-item selected">Home</a>
    <a href="#" class="menu-item ">About</a>
    <a href="#" class="menu-item ">Project</a>
    <a href="#" class="menu-item ">Blogs</a>
    <a href="#" class="menu-item ">Find Me!</a>
    <a href="#" class="menu-item ">中 / En</a>
    <a href="#" class="menu-item " style="display: block">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor"
             class="icon icon-tabler icons-tabler-filled icon-tabler-square-chevrons-up">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M19 2a3 3 0 0 1 3 3v14a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-14a3 3 0 0 1 3 -3zm-6.387 10.21a1 1 0 0 0 -1.32 .083l-3 3l-.083 .094a1 1 0 0 0 .083 1.32l.094 .083a1 1 0 0 0 1.32 -.083l2.293 -2.292l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-3 -3zm0 -5a1 1 0 0 0 -1.32 .083l-3 3l-.083 .094a1 1 0 0 0 .083 1.32l.094 .083a1 1 0 0 0 1.32 -.083l2.293 -2.292l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-3 -3z"/>
        </svg>
    </a>
</div>
