---
function displayMenu() {

}
---
<style>
    .fixed-div {
        position: fixed; /* Fixes the div in place */
        top: 0; /* Aligns it to the top */
        right: 0; /* Aligns it to the right */
        padding: 0.625rem; /* Optional padding */
        display: flex;
        flex-direction: column; /* Stacks items vertically */
        gap: 0.625rem; /* Adds space between items */
        z-index: 100;
    }

    .menu-item {
        text-decoration: none; /* Removes underline from links */
        color: black; /* Text color */
        padding: 0.3125rem; /* Padding for each item */
        background-color: rgba(0, 0, 0, 0);
        font-size: large;
        text-align: right;
        z-index: 100;
    }

    .menu-item:hover {
        color: white;

        background-color: rgba(211, 211, 211, 0.5);
    }

    .selected {
        font-weight: bold;
    }

    .mobile {
        display: none;
    }


    @media (max-width: 600px) {
        .menu-item:not(.mobile) {
            display: none;
        }

        .mobile {
            display: block;
        }
    }

    // 動畫
    @keyframes reveal {
        from {
            transform: translateY(200%);
        }
        to {
            transform: translateY(0%);
        }
    }

    .nav-links ~ .expanded{
        display: block;
    }


</style>
<div class="fixed-div">
    <a href="#" class="mobile menu-item hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-linecap="round" stroke-linejoin="round" width="30" height="30" stroke-width="3">
            <path d="M4 6l16 0"></path>
            <path d="M4 12l16 0"></path>
            <path d="M4 18l16 0"></path>
        </svg>
    </a>
    <div class="bgRectangle menu-item"></div>
    <a href="#" class="menu-item nav-links expanded">Home</a>
    <a href="#" class="menu-item nav-links">About</a>
    <a href="#" class="menu-item nav-links">Project</a>
    <a href="#" class="menu-item nav-links">Blogs</a>
    <a href="#" class="menu-item nav-links">Find Me!</a>
    <a href="#" class="menu-item nav-links">中 / En</a>
    <a href="#" class="menu-item back">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor"
             class="icon icon-tabler icons-tabler-filled icon-tabler-square-chevrons-up">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M19 2a3 3 0 0 1 3 3v14a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-14a3 3 0 0 1 3 -3zm-6.387 10.21a1 1 0 0 0 -1.32 .083l-3 3l-.083 .094a1 1 0 0 0 .083 1.32l.094 .083a1 1 0 0 0 1.32 -.083l2.293 -2.292l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-3 -3zm0 -5a1 1 0 0 0 -1.32 .083l-3 3l-.083 .094a1 1 0 0 0 .083 1.32l.094 .083a1 1 0 0 0 1.32 -.083l2.293 -2.292l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-3 -3z"/>
        </svg>
    </a>
</div>

<script>
    document.querySelector('.hamburger')?.addEventListener('click', () => {
        let navLink = document.querySelectorAll('.nav-links');
        for (let i = 0; i < navLink.length; i++) {
            navLink[i].classList.toggle('expanded');
        }
    });
</script>